@model S_FOOD.Models.KHUYENMAI

@{
    ViewBag.Title = "Thêm VIP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="main-content center">
    <div class=" row">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>THÔNG TIN</strong> KHUYẾN MẠI </span></h4>
            <form action="#" method="post" class="form-stacked">
                <fieldset>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Mã khuyễn mại:</label>
                        <div class="controls">
                            <input type="text" maxlength="10" name="IDKhuyenMai" class="form-control form-control-static"  required autofocus>
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Món ăn:</label>
                        @Html.Action("PV_Dropdown_MonAn", "AdminKhuyenMai")
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Giá giảm:</label>
                        <div class="controls">
                            <input type="number" min="500" name="GiaGiam" class="form-control form-control-static"  required autofocus>
                        </div>
                    </div>
                    <hr>
                    <div class="actions">
                        <input tabindex="6" class="btn btn-warning" type="submit" value="Lưu">
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</section>


<div>
    <button class="btn btn-primary">@Html.ActionLink("Về trang chủ", "Index")</button>
</div>




