@model S_FOOD.Models.VIP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="center" style="color:red">Bạn có chắc muốn xóa?</h3>
<div>
    <h4 class="center">THÔNG TIN QUẢNG CÁO</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="font-size:14px">
        <tr class="center">
            <th class="center">Level Quảng cáo</th>
            <td class="center">@Model.LevelVip</td>
        </tr>
        <tr class="center">
            <th class="center">Giá Quảng cáo</th>
            <td class="center">@Model.SoTienCanTra</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color center">
            <input type="submit" value="Đồng ý xóa" class="btn btn-danger" />
            <button class="btn btn-primary">@Html.ActionLink("Về trang chủ", "Index")</button>
        </div>
    }
</div>

