
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row justify-content-center">
    <div class="span12">
        <h4 class="title"><span class="text"><strong>GIỚI THIỆU</strong> SFood</span></h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead style="background-color:navajowhite">
                    <tr style="text-align:center; font-size:17px">
                        <td class="center">
                            WEB BÁN THỨC ĂN SFood <br />
                            URL: http://sfood.somee.com
                            <br />
                            Email: npphu97@gmail.com
                            <br />
                            Hotline: 01289584139
                            <br />
                            Website là đồ án cơ sở
                        </td>
                    </tr>
                </thead>
            </table>
            <div>
                <button class="btn btn-primary"> <a style="font-size:14px; float:right" href="@Url.Action("Index","SFood")">Trang chủ</a> </button>
            </div>
        </div>
    </div>
</div>


