@model IEnumerable<S_FOOD.Models.V_Top5KhachHang>
<h4 class="center">TOP 5 KHÁCH HÀNG MUA NHIỀU NHẤT</h4>
<table class="table table-bordered table-hover table-striped" style="vertical-align:middle; font-size:14px">
    <thead style="background-color:orange">
        <tr>
            <th class="center">
                Họ tên
            </th>
            <th class="center">
                Số điện thoại
            </th>
            <th class="center">
                Tổng tiền
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="center">
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td style="vertical-align:middle" class="center">
                @String.Format("{0:0,00}", item.Tổng_tiền) VNĐ
            </td>
        </tr>
    }

</table>
<hr />

