
<li class="nav-item">
    <a href="@Url.Action("GioHang","GioHang",new { @class = "nav-link" })">
        Giỏ hàng(@ViewBag.Tongsoluong)</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("LichSuMuaHang","GioHang",new { @class = "nav-link" })">
        Lịch sử mua hàng
    </a>
</li>
