
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="main-content center">
    <div class=" row justify-content-center">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>ĐĂNG NHẬP</strong> ADMIN</span></h4>
            <form action="#" method="post" class="form-stacked">
                <fieldset>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Tên đăng nhập:</label>
                        <div class="controls">
                            <input type="text" name="TenDangNhap" class="form-control form-control-static" required autofocus>
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Mật khẩu:</label>
                        <div class="controls">
                            <input type="password" name="MatKhau" class="form-control form-control-static" required>
                        </div>
                    </div>
                    <h6 style="color:red; font-size:13px">
                        <td>
                            @ViewBag.Thongbao
                        </td>
                    </h6>
                    <hr>
                    <div class="actions"><input tabindex="2" class="btn btn-danger" type="submit" value="Đăng nhập"></div>
                </fieldset>
            </form>
        </div>
    </div>

</section>


