
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="main-content center">
    <div class=" row">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>ĐĂNG KÝ</strong> ADMIN</span></h4>
            <form action="#" method="post" class="form-stacked">
                <fieldset>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Tên đăng nhập:</label>
                        <div class="controls">
                            <input type="text" name="TenDangNhap" class="form-control form-control-static" style="width:500px" required autofocus>
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Mật khẩu:</label>
                        <div class="controls">
                            <input type="password" name="MatKhau" class="form-control form-control-static" style="width:500px" required>

                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Nhập lại mật khẩu:</label>
                        <div class="controls">
                            <input type="password" name="NhapLaiMatKhau" class="form-control form-control-static" style="width:500px" required>
                            <h6 style="color:red; font-size:13px">
                                <td>
                                    @ViewData["Loi1"]
                                </td>
                            </h6>
                        </div>
                    </div>                                                                                                 
                    <hr>
                    <div class="actions">
                        <input tabindex="6" class="btn btn-warning" type="submit" value="Đăng ký">
                        <button class="btn btn-success" type="submit">@Html.ActionLink("Đăng nhập", "DangNhap", "AdminTaiKhoan")</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</section>

