

@model S_FOOD.Models.KhuyenMai

@{
    ViewBag.Title = "Thêm VIP";
    Layout = "~/Views/Shared/_LayoutCTV.cshtml";
}

<section class="main-content center">
    <div class=" row">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>THÔNG TIN</strong> KHUYẾN MẠI </span></h4>
            <form action="#" method="post" class="form-stacked">
                <fieldset>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Món ăn:</label>
                        @Html.Action("PV_Dropdown_MonAn", "CTVKhuyenMai")
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Giá giảm :</label>
                        <div class="controls">
                            <input type="number" min="0" name="GiaGiam" class="form-control form-control-static" placeholder="Nhập % giảm giá" required autofocus>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="text-error">@ViewBag.MessageFail</div>
                        <div class="text-success">@ViewBag.MessageSuccess</div>
                    </div>
                    <hr>
                    <div class="actions">
                        <input tabindex="6" class="btn btn-warning" type="submit" value="Lưu">
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</section>


<div>
    <button class="btn btn-primary">@Html.ActionLink("Về trang chủ", "Index")</button>
</div>


